<link rel="stylesheet" href="/stylesheets/footer.css">
<footer class="footer-distributed">

			<div class="footer-left">

				<h3>Game<span>ShopTN</span></h3>

				<p class="footer-links">
					Sponsorship:
				</p>

				<p class="footer-company-name">Klap Company &copy; 2017</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>New Medina 3</span>Tunis, Tunisia</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+216 71 237 958</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@company.com">support@company.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About the company</span>
					A hobby turned into a bussness. we deliver the best selling games in tunisia and aim to Make a better gaming community !
				</p>

				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div>

			</div>

		</footer>
