<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdn.auth0.com/w2/auth0-7.6.1.min.js"></script>
    <script src="https://cdn.auth0.com/js/lock/10.14/lock.min.js"></script>
    <script src="https://use.fontawesome.com/c3b6c7d70e.js"></script>



    <!-- Latest compiled and minified JavaScript -->

    {{> header}}
    <div class="container">
        {{{body}}}
    </div>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <link rel="stylesheet" type="text/css" href="/stylesheets/header.css">



</body>

</html>
