<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>auth</title>
  </head>
  <body>
    <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
  </body>
</html>
