<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>auth</title>
  </head>
  <body>




<div class="row">

  {{# each Products}}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img-responsive" src= "{{this.imgpath}}" alt="call of duty">
      <div class="caption">
        <h3>{{this.title}}</h3>
        <p>{{this.description}}</p>

        <div class="clearfix" > <div class="price pull-left">
          {{this.price}}$
        </div> <div class="pull-right buy-sec"><a href="#" class="btn btn-default btn-success " role="button">Buy</a><a href="#" class="btn btn-default" role="button">More</a></div></div>
      </div>
    </div>
  </div>
  {{/each }}
  </body>
</html>
